{% extends('base.html.twig') %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Welcome {{ name }}</h1>

    <p class="container">This is a simple application to make different todo lists. Your todo's  are organized as follows:</p>

        <ul>Categories: i.e. work, leisure, household</ul>
        <ul>Task: i.e. build a todo application, clean my house</ul>
        <ul>Todo's: i.e. clean toilet, clean kitchen</ul>

    <p class="container">First you can make a set of categories and from there you can define your tasks and your different todo's. If you finished</p>
    <p class="container">a certain todo, you can check it if your list.</p>
    <p class="container">Click <a href="{{ path('overview') }}">here</a> to go to categories.</p>
{% endblock %}