{% extends 'base.html.twig' %}
{% block title %}Category{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Overview of your different categories</h1>
    <p class="container">Choose a category to get an overview of your defined tasks. If you do not yet have a category defined, you can do so here.</p>
    <table class="table table-borderless">
        <thead>
        <tr>
            <td>Category</td>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>
                <a href="{{ path('show', {id: category.id}) }}">
                    {{ category.category }}
                </a>
            </td>
            <td>
                <a href="{{ path('delete', {id: category.id}) }}">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="{{ path('create') }}">
                    Create new category
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
