{% extends 'base.html.twig' %}
{% block title %}Calender{% endblock %}
{% block body %}
    <h1>Your different tasks and todo's by date</h1>
    <table class="table table-borderless">
        <thead>
        <tr>
            <td>Date</td>
            <td>Task/Todo</td>
        </tr>
        </thead>
        <tbody>
        {% for collection in collection|sort((a, b) => a.deadline <=> b.deadline) %}
            {% if collection.deadline != null %}
            <tr>
                <td>
                   {{ collection.deadline|date('Y-m-d') }}
                </td>
                <td>
                   {{ collection }}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td>
                <a href="{{ path('create') }}">
                    Create new category
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
