{% extends 'base.html.twig' %}
{% block title %}Task{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Overview of your tasks of category {{ category.category|lower }}</h1>
    <p class="container">Choose a task to see the individual todo's you defined. If you have not yet defined any, you can do so by clicking on a task.</p>
    <p class="container">You can also create new tasks from the button below. The progress shows you how many todo's you've finished of a certain task.</p>
    <p class="container">When you finished all the different todo's defined, your task will color green.</p>
    <table class="table table-borderless">
        <thead>
        <tr>
            <td>Name</td>
            <td>Deadline</td>
            <td>Progress</td>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr {% set count = 0 %}
                    {% for todo in task.todo %}
                        {% if todo.completed == true %}
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if count == task.todo.count and task.todo.count > 0 %}
                    bgcolor="#42f590"
                    {% endif %}>
                <td>
                    <a href="{{ path('todooverview', {id: task.id}) }}">
                        {{ task.name }}
                    </a>
                </td>
                <td>
                    {% if task.deadline != null %}
                        {{ task.deadline|date('Y-m-d') }}
                    {% endif %}
                </td>
                <td>
                    {{ count }}/{{ task.todo.count }}
                </td>
                <td>
                    <a href="{{ path('taskdelete', { id: task.id }) }}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="{{ path('taskcreate', {id: category.id}) }}">
                    Create new task
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('overview') }}">Back to overview categories</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
