{% extends 'base.html.twig' %}
{% block title %}Todo{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Overview of your todo's of task {{ task.name|lower }}</h1>
    <p class="container">Here you can create a todo. These are small subtasks which you are part of the bigger task you set yourself.</p>
    <table class="table table-borderless">
        <thead>
        <tr>
            <td>Name</td>
            <td>Deadline</td>
            <td>Status</td>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr {% if todo.completed == true %}
            bgcolor="#42f590" {% endif %}>
                <td>
                    {{ todo.description }}
                </td>
                <td>
                    {% if todo.deadline != null %}
                        {{ todo.deadline|date('Y-m-d')}}
                    {% endif %}
                </td>
                <td>
                    {% if todo.completed != true %}
                        <a href="{{ path('todocomplete', {id: todo.id}) }}">
                            In progress
                        </a>
                    {% endif %}
                    {% if todo.completed == true %}
                    <a href="{{ path('todocomplete', {id: todo.id}) }}">
                    Finished
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('tododelete', { id: todo.id }) }}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="{{ path('todocreate', {id: task.id}) }}">
                    Create new todo
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('taskoverview', {id: task.category.id}) }}">Back to task overview</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('overview') }}">Back to overview categories</a>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
