<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="{{ path('overview') }}">Todo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('calender') }}">Calender</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item float-right">
                        <a class="nav-link" href="{{ path('app_logout', {name: 'app_logout'}) }}">Logout</a>
                    </li>
                {% endif %}
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item float-right">
                        <a class="nav-link" href="{{ path('register', {name: 'app_register'}) }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
        <div class="container">
        {% block body %}
        </div>
        {% endblock %}

    </body>
</html>
